<%= link_to "Create a new restaurant", new_restaurant_path %>


<% @restaurants.each do |restaurant| %>

  <%= link_to restaurant_path(restaurant) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= restaurant.name %></h2>
        <p>Find us at <strong><%= restaurant.address %></strong></p>
      </div>
    </div>
  <% end %>

<% end %>
